/* Audio Unit Content image and description child flex item */
.audioUnit-content {
    display: flex;
    flex-direction: column;
    background-color: #BD84D6;
    padding: 1vw;
    border-radius: 5px;
    width: 85%;
  }
  
  /*Image Formatting*/
  .audioImage {
    position: relative;
    width: 100%;
    border-radius: 4px;
    margin: 0vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.53);
  }
  
   /*details*/
   details {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0;
    font-size: small;
  }
  
  summary {
    font-weight: bold;
    font-size: small;
    margin: 0.5vw;
    padding: 0;
  }
  
  details[open] {
    padding: 0.5vw;
  }
  
  details[open] summary {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0.5vw;
  }
  
  
  /* Volume Container*/  
  .audioUnit-volume {
    background-color: #fd84d9;
    margin-left: 1vw;
    padding: 2vw;
    width: 15%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
/*   
/*SLIDER*/

  .custom-slider {
    /* Remove default styling */
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: green;
    width: 40vw;
    height: 2vw;
    writing-mode: bt-lr; /* Set the writing mode to vertical */
    transform: rotate(90deg);
    

  }
  
  
  