/* Audio Unit Content image and description child flex item */
.audioUnit-content {
    display: flex;
    flex-direction: column;
    background-color: #BD84D6;
    padding: 1vw;
    border-radius: 5px;
    width: 85%;
  }
  
  /*Image Formatting*/
  .audioImage {
    position: relative;
    width: 100%;
    border-radius: 4px;
    margin: 0vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.53);
  }
  
   /*details*/
   details {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0;
    font-size: small;
  }
  
  summary {
    font-weight: bold;
    font-size: small;
    margin: 0.5vw;
    padding: 0;
  }
  
  details[open] {
    padding: 0.5vw;
  }
  
  details[open] summary {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0.5vw;
  }
  
  
  /* Volume Unit Controls*/  
  .audioUnit-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fd84d9;
    margin-left: 1vw;
    padding: 2vw;
    width: 15%;
    border-radius: 5px;
  }
  
  .slider {
    /* Set width and height to adjust the size of the slider */
    width: 2vw;
    height: 100%;
    /* Rotate the slider vertically */
      /* transform: rotate(-90deg); */
    /* Adjust other styling properties as needed */
    writing-mode: bt-lr; /* Set the writing mode to vertical */
    appearance: slider-vertical;
  }