  /*Image Formatting*/
  .audioImage {
    position: relative;
    width: 100%;
    border-radius: 4px;
    margin: 0vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.53);
  }
  
   /*details*/
   details {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0;
    font-size: small;
  }
  
  summary {
    font-weight: bold;
    font-size: small;
    margin: 0.5vw;
    padding: 0;
  }
  
  details[open] {
    padding: 0.5vw;
  }
  
  details[open] summary {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0.5vw;
  }

 /* MAIN - General Flex Container*/
.audioUnit {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color:#8848A4;
  padding: 1vw;
  border-radius: 10px;
  margin: 1vw;
}

/* CHILD 1 - Lighter purple container 
Includes image and description */
.audioUnit-content {
  order: 1;
  background-color: #BD84D6;
  padding: 1vw;
  border-radius: 5px;
/*flexing next*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 78%;
}

  /* CHILD 2 - Pink Volume Container*/  
.audioUnit-volume {
    order: 2;
    background-color: #fd84d9;
    padding: 0vw;
    border-radius: 5px;
    width: 18%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      /* aspect-ratio: 1/2; */

}

/* CHILD 2.2*/
.custom-slider {
    /* Remove default styling */
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: #D65FB3;
    writing-mode: bt-lr; /*Set the writing mode to vertical*/
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity.2s;
    transform: rotate(90deg);
    width: 15rem;
  
    border-radius: 1rem;
   
    /* aspect-ratio: 3/1; */

  }
  
  .custom-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2rem; /* Set a specific slider handle width */
  height: 2rem; /* Slider handle height */
  background: #D3B41E; /*background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
  border-radius: 5px;
  
}

.custom-slider::-moz-range-thumb {
  width: 6vw; /* Set a specific slider handle width */
  height: 4vw; /* Slider handle height */
  background: #D3B41E; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

